
#desktop, #desktop-about, #desktop-proj,
#desktop-proj-type-1, #desktop-proj-type-2,
#desktop-services {
  .scrollify {
    overflow: hidden;
    .container-fluid {
      padding: 0 15px;
      .grid-lines {
        position: absolute;
        top: -60px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .line {
          background: #eee;
          width: 1px;
          height: 9999px;
          z-index: -2;
        }

      }
      .row {
        margin: 0;
        .container-content {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          .title-main {
            position: absolute;
            height: 100%;
            padding: 0;
            h1 {
              position: absolute;
              bottom: 105px;
              font-family: 'Bebas Neue';
              font-weight: bold;
              font-style: normal;
              font-size: @60;
              color: black;
              z-index: 10;
              margin: 0;
              text-transform: uppercase;
              padding: 0;
              transition: all 1s ease;
              span {
                display: inline;
                background-color: #ffa8a9;
                border-radius: 5px;
                padding: 8px 8px 0 8px;
                color: white;
              }
            }
          }
        }

        .card-small {
          height: 20%;
          margin-top: 3%;
          padding-left: 15px;
          a {
            display: block;
            height: 100%;
          }
          .card-small-img {
            padding: 15px;
            transition: all .8s ease-in-out;
            .card-small-img-overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transition: all .8s ease-in-out;
              background-color: white;
              opacity: .85;
            }
            img {
              width: 90%;
              height: auto;
            }
          }
          .card-small-title {
            display: inline-block;
            padding: 0;
            h1 {
              color: black;
              font-family: 'Bebas Neue';
              font-size: @36;
              margin: 0;
              padding: 0;
            }
          }
          .card-small-text {
            padding: 0;
            display: inline-block;
            .text-border-container {
              position: absolute;
              top: 0;
              bottom: 0;
              transition: all .8s ease-in-out;
              border: 1px solid #eee;
              background-color: white;
              z-index: -1;
            }
            p {
              font-size: @14;
              color: black;
              line-height: 1.6;
              margin: 0;
              padding: 15px 0;
            }
          }
          &:hover {
            .card-small-img {
              transform: scale(1.1);
              .card-small-img-overlay {
                opacity: .1;
              }
            }
            .card-small-text {
              padding: 0;
              display: inline-block;
              .text-border-container {

                border-color: #000;

              }
            }
          }
        }
        .card-small.to-left {
          .card-small-text {
            p {
              padding-right: 15px;
            }
            .text-border-container {
              left: -40%;
              right: 0;
            }
          }
        }
        .card-small.to-right {
          .card-small-text {
            p {
              padding-left: 15px;
            }
            .text-border-container {
              right: -40%;
              left: 0;
            }
          }
        }
        .text-paralax {
          padding-top: calc(~"3% + 70px");
          p {
            font-size: 75px;
            font-family: "Bebas Neue", sans-serif;
            color: #eeeeee;
            transition: all .8s ease-in-out;
            line-height: 1;
            text-align: center;
            margin: 0;
            &:hover {
              color: #ffa8a9;
            }
          }
        }
      }

      .about-head, .about-course, .about-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: @36;
          margin-bottom: 5px;
          font-family: "Bebas Neue", sans-serif;
          color: black;
        }
        p {
          margin-bottom: 0;
          font-size: @14;
          font-family: "Helvetica", sans-serif;
          color: black;
        }
      }
      .about-head-image, .about-course-image {
        position: relative;
        margin: 0 -30px;
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        .about-overlay {
          background-color: rgba(255, 255, 255, .65);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .about-team-card {
        margin-bottom: 30px;
        .card-content {
          border-bottom: 1px solid #9E9E9E;
          margin-bottom: 15px;
          max-width: 300px;
          &:hover {
            img {
              transform: scale(1.05);
              filter: grayscale(0)
            }
          }
          img {
            width: 100%;
            height: auto;
            transition: all .8s ease-in-out;
            filter: grayscale(100%) sepia(1) saturate(0) contrast(200%) hue-rotate(30deg) invert(40%);
          }
        }
      }

      .services-head-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: @36;
          margin-bottom: 5px;
          font-family: "Bebas Neue", sans-serif;
          color: black;
        }
        p {
          margin-bottom: 0;
          font-size: @14;
          line-height: 1.5;
          font-family: "Helvetica", sans-serif;
          color: black;
        }

      }
      .services-image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 1;
        z-index: 0;
        margin: 0 -30px;
        margin-bottom: 15px;
        .services-overlay {
          background-color: rgba(0, 0, 0, 0.65);
          transition: all .88s ease-in-out;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }
        .services-head {
          padding: 0 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          h1 {
            font-size: @36;
            margin-bottom: 5px;
            font-family: "Bebas Neue";
            transition: all .5s ease-in-out .0s;
            transform: translateY(0px);
            color: white;
            span {
              color: #ffa8a9;
            }
          }
          p, a {
            font-size: @14;
            font-family: "Helvetica";
            transition: all .5s ease-in-out .0s;
            transform: translateY(0px);
            color: white;
            opacity: 1;
          }
          a {
            padding: 10px 0;
            color: #fff;
            text-shadow: none;
            position: relative;
            display: inline-block;
            margin: 15px 25px;
            outline: none;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 1.35em;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              padding: 10px 0;
              max-width: 0;
              border-bottom: 2px solid #fff;
              color: #ffa8a9;
              content: attr(data-hover);
              transition: max-width 0.5s;
            }
            &:hover::before,
            &:focus::before {
              max-width: 100%;
            }
          }
        }
      }
      .services-image-head {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 1;
        z-index: -1;
        margin: 0 -30px;
        .services-image-bg {
          background-image: url("../../assets/images/services-bg.jpg");
          animation-delay: 1s;
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .services-image-overflow-bg {
          position: absolute;
          background-color: white;
          transition: all 1s ease-in-out;
          opacity: .65;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .fixed-content-header {
    color: @white;
    //padding: 15px 0 0;
    padding-top: 30px;

    .container-fluid {
      display: flex;
      .logo-main {
        .logo {
          font-size: @24;
          color: black;
          transition: color .75s ease-in-out;
          &:hover, &:focus {
            color: black;
            text-decoration: none;
          }
          &:after {
            content: 'TM';
            font-size: 8px;
            position: absolute;
          }
        }
      }
      .hamburger-main {
        display: flex;
        align-items: center;
      }
      .tel-phone {
        font-size: @24;
        font-weight: 100;
        color: black;
      }
    }
  }
  .fixed-content-nav {
    top: 50%;
    position: absolute;
    .nav-buttons {
      a {
        position: absolute;
        right: 0;
        transform: translateY(-50%) rotate(-90deg);
        &:hover {
          text-decoration: none;
        }
      }
      .nav-button {
        text-transform: lowercase;
        color: #000000;
        font-size: @24;
        font-family: sans-serif;
        font-weight: 100;
        padding-bottom: 15px;
        h5 {
          white-space: nowrap;
          &:before {
            content: '';
          }
        }
      }
      a:hover .nav-button:before {
        width: 999px;
      }
      .nav-button:before {
        content: '';
        display: block;
        background-color: black;
        transition: all 2s ease;
        width: 100%;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
  .fixed-content-footer {
    position: absolute;
    color: @white;
    padding: 20px;
    transition: transform .5s ease-in-out;
  }
  .fixed-sidenav {
    .sidenav-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      transition: transform .3s cubic-bezier(.455, .03, .24, 1.005);
      will-change: transform;
      .primary-nav {
        a {
          &:hover {
            text-decoration: none;
          }
        }
        li {
          list-style: none;
        }
        .bloc-headline {
          position: relative;
          margin: 0;
          padding: 0 15px;
          outline: 0;
          transition: color .4s;
          font-size: 70px;
          line-height: 58px;
          color: #9E9E9E;
          font-family: 'Bebas Neue';
          &:hover {
            color: #333;
          }
          &:hover::after {
            transform: translateY(-50%) scaleY(1);
            transition-duration: .5s;
          }
          &:after {
            content: '';
            width: 200vw;
            height: 65%;
            position: absolute;
            top: 39%;
            left: -100vw;
            -webkit-transform: translateY(-50%) scaleY(0);
            -ms-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
            z-index: -1;
            background: #ffa8a9;
            transition: transform .5s 0s cubic-bezier(.645, .045, .355, 1);
          }
        }
      }
    }
  }
  .footer-frame {
    background-color: black;
    color: #fff;
    height: 100vh;
    .container {
      .row {
        padding: 60px 15px 0;
        .footer-logo {
          font-size: @18;
          color: white;
          &:hover, &:focus {
            color: white;
            text-decoration: none;
          }
          &:after {
            content: 'TM';
            font-size: 8px;
            position: absolute;
          }
        }
        .footer-title {
          font-size: @20;
          color: white;
        }
        .footer-text {
          font-size: @16;
          font-family: "Helvetica";
          color: rgba(255, 255, 255, 0.4);
          line-height: 1.2;
          margin: 7px 0;
          a {
            color: rgba(255, 255, 255, 0.4);
            transition: color .5s ease;
            &:hover, &:focus {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .footer-text-btn {
          margin-top: 30px;
          display: flex;
          justify-content: flex-start;
          a {
            font-size: @16;
            font-family: "Helvetica";
            color: rgba(255, 255, 255, 0.451);
            font-weight: bold;
            padding-right: 10px;
            line-height: 1.2;
            &:after {
              content: '';
              display: block;
              width: 30px;
              transition: all .5s ease;
              height: 3px;
              margin: 5px 0;
              background-color: rgba(255, 255, 255, 0.451);;
            }
            &:hover:after {
              background-color: #fff;
              width: 50px;
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }
        .footer-logo-title {
          font-size: @20;
          font-family: "Helvetica";
          color: @white;
          line-height: 1.2;
          margin-bottom: 20px;

        }
        .footer-subscribe {
          font-size: @16;
          font-family: "Helvetica";
          color: #6c6c6c;
          font-weight: bold;
          line-height: 1.2;
          margin-top: 10px;
          margin-bottom: 5px;
        }
        .footer-subscribe-ico {
          display: flex;

          a {
            margin-right: 5px;
            width: 30px;
            height: 30px;
          }
          svg {
            &:only-child {
              fill: #6c6c6c;
              transition: fill .5s ease;
              &:hover {
                fill: #fff
              }
            }
          }
        }
      }
    }
  }

  .video-container {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
    #video-home {
      opacity: 0;
      transition: all .5s ease-in-out;
    }
    #video-home.loaded {
      opacity: 1;
    }

    .video-container-bg {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .video-container-bg {
      background-image: url("../../assets/images/video-back.jpg");
    }

    .video-container-overflow-bg {
      position: absolute;
      background-color: white;
      transition: all 1s ease-in-out;
      opacity: .85;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

#desktop-proj {
  .scrollify {
    overflow: hidden;
    .container-fluid {
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        .container-content {
          .proj-head {
            height: 40vh;
            padding: 0 30px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
              font-size: @48;
              margin-bottom: 15px;
              font-family: "Bebas Neue";
              color: black;
            }
            p {
              margin-bottom: 0;
              font-size: @16;
              font-family: "Helvetica";
              color: black;
            }
          }
          .owl-carousel {
            .owl-item {
              .item {
                height: 40vh;
                position: relative;
                margin-bottom: 10%;
                width: 100%;
                cursor: pointer;

                .overlay-item {
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center right;
                  overflow: hidden;
                  height: inherit;
                }
                .overlay-layout {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  transition: background-color 2s ease;
                }
                .overlay-layout-second {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  div {
                    transition: width 1s ease-in-out;
                  }
                }
                .overlay-layout-text {
                  position: absolute;
                  top: 0;
                  text-align: center;
                  width: 80%;
                  left: 50%;
                  transform: translateX(-50%);
                  h1 {
                    font-size: @32;
                    font-family: "Bebas Neue Regular";
                    color: white;
                    span {
                      color: #ffa8a9;
                    }
                  }
                  p {
                    font-size: @16;
                    font-family: "Helvetica";
                    color: white;
                    letter-spacing: 3px;
                  }
                }
                .customNextBtn {
                  position: absolute;
                  bottom: 10%;
                  right: 15px;
                }
              }
            }
            .owl-item.active {
              .item {
                .border-frame {
                  opacity: 1;
                  top: 20px;
                  right: -20px;
                  width: 90%;
                  height: 100%;

                }
                .overlay-item {
                  animation-duration: 2s;
                  //animation-fill-mode: both;
                  //animation-timing-function: ease-in-out;
                  //animation-name: zoomInCustom;
                }
                .overlay-layout {
                  background-color: rgba(0, 0, 0, 0.3);
                }
                .overlay-layout-second {
                  div {
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 25%;
                  }
                }
                .overlay-layout-text {
                  h1 {
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                    animation-name: fadeInUp;

                  }
                  p {
                    animation-name: fadeInUp;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                  }
                }
                .customNextBtn {
                  animation-duration: 1s;
                  animation-delay: 1s;
                  //animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                  animation-name: fadeIn;
                }
              }
            }
            .owl-item:not(.active) {
              .item {
                .overlay-item {
                  animation-duration: 1s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                  animation-name: zoomOutCustom;
                }
                .overlay-layout {
                  background-color: rgba(0, 0, 0, .99);
                }
                .overlay-layout-second {
                  animation-duration: 1s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                  animation-name: zoomOutCustom;
                  div {
                    width: 0;
                  }
                }
                .overlay-layout-text {
                  h1 {
                    animation-name: fadeOutDown;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                  }
                  p {
                    animation-name: fadeOutDown;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-frame {
    background-color: black;
    color: #fff;
    height: 100vh;
    .container {
      .row {
        padding: 60px 15px 0;
        .footer-logo {
          font-size: @18;
          color: white;
          &:hover, &:focus {
            color: white;
            text-decoration: none;
          }
          &:after {
            content: 'TM';
            font-size: 8px;
            position: absolute;
          }
        }
        .footer-title {
          font-size: @20;
          color: white;
        }
        .footer-text {
          font-size: @16;
          font-family: "Helvetica";
          color: rgba(255, 255, 255, 0.4);
          line-height: 1.2;
          margin: 7px 0;
          a {
            color: rgba(255, 255, 255, 0.4);
            transition: color .5s ease;
            &:hover, &:focus {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .footer-text-btn {
          margin-top: 30px;
          display: flex;
          justify-content: flex-start;
          a {
            font-size: @16;
            font-family: "Helvetica";
            color: rgba(255, 255, 255, 0.451);
            font-weight: bold;
            padding-right: 10px;
            line-height: 1.2;
            &:after {
              content: '';
              display: block;
              width: 30px;
              transition: all .5s ease;
              height: 3px;
              margin: 5px 0;
              background-color: rgba(255, 255, 255, 0.451);;
            }
            &:hover:after {
              background-color: #fff;
              width: 50px;
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }
        .footer-logo-title {
          font-size: @20;
          font-family: "Helvetica";
          color: @white;
          line-height: 1.2;
          margin-bottom: 20px;

        }
        .footer-subscribe {
          font-size: @16;
          font-family: "Helvetica";
          color: #6c6c6c;
          font-weight: bold;
          line-height: 1.2;
          margin-top: 30px;
          margin-bottom: 5px;
        }
        .footer-subscribe-ico {
          display: flex;

          a {
            margin-right: 5px;
            width: 30px;
            height: 30px;
          }
          svg {
            &:only-child {
              fill: #6c6c6c;
              transition: fill .5s ease;
              &:hover {
                fill: #fff
              }
            }
          }
        }
      }
    }
  }
}

#desktop-proj-type-1, #desktop-proj-type-2 {
  .scrollify {
    overflow: hidden;
    .container-fluid.first-state {
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        .container-content {
          justify-content: flex-start;
          .proj-head {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            h1 {
              font-size: @48;
              margin-bottom: @6;
              font-family: "Bebas Neue";
              color: black;
            }
          }
          .proj-preview {
            height: 70vh;
            .proj-preview-content {
              display: block;
              .proj-preview-img {
                padding: 0 30px;
                img {
                  width: 50%;
                  display: block;
                  margin: 0 auto;
                }
              }
              .proj-preview-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;
                p {
                  margin-bottom: 0;
                  font-size: @16;
                  font-family: "Helvetica";
                  color: rgb(0, 0, 0);
                  line-height: 1.3;
                }
              }
            }
          }
        }
      }
    }
    .container-fluid.second-state {
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        .container-content {
          justify-content: center;
          .proj-head {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            h1 {
              font-size: @48;
              margin-bottom: @6;
              font-family: "Bebas Neue";
              color: black;
            }
          }
          .owl-carousel {
            height: 55vh;
            overflow: hidden;
            .owl-stage {
              display: flex;
              align-items: center;
            }
            .owl-item {
              .item {
                position: relative;
                width: 100%;
                transition: all .75s ease;
                .overlay-item {
                  overflow: hidden;
                  height: inherit;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                }
              }
            }
            .owl-item.active {
              .item {
                height: 60vh;
                .border-frame {
                  opacity: 1;
                  top: 20px;
                  right: -20px;
                  width: 90%;
                  height: 100%;

                }
                .overlay-item {
                  animation-duration: 2s;
                }
                .overlay-layout {
                  background-color: rgba(0, 0, 0, 0);
                }
              }
            }
            .owl-item:not(.active) {
              .item {
                height: 55vh;
                .overlay-item {
                  animation-duration: 2s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                  animation-name: zoomOutCustom;
                }
                .overlay-layout {
                  background-color: rgba(0, 0, 0, .5);
                }
                .overlay-layout-second {
                  animation-duration: 2s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                  animation-name: zoomOutCustom;
                  div {
                    width: 0;
                  }
                }
                .overlay-layout-text {
                  h1 {
                    animation-name: fadeOutRight;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                  }
                  p {
                    animation-name: fadeOutRight;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                  }
                }
              }
            }
            .owl-nav {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              display: none;
              justify-content: space-between;
              width: 100%;
              //padding: 0 30px;
              .owl-prev {
                transform: rotate(180deg);
              }
              .owl-prev, .owl-next {
                padding: 30px;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
              }
            }
          }
          .proj-nav {
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
              padding: 20px;
              font-size: 16px;
              font-family: "Helvetica";
              color: #000;
              line-height: 1.2;
              transition: all .4s ease-in-out;
              display: flex;
              i {
                font-size: 24px;
              }
              &:hover {
                text-decoration: none;
                color: #f9a7a8;
              }
            }
          }
        }
      }
    }
    .container-fluid.third-state {
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        .container-content {
          justify-content: flex-start;
          height: 100%;
          .proj-head {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            h1 {
              font-size: @48;
              margin-bottom: @6;
              font-family: "Bebas Neue";
              color: black;
            }
          }
          .proj-preview {
            height: 100%;
            margin-bottom: 75px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .proj-preview-content {
              display: flex;
              flex-wrap: wrap;
              width: calc(~"25% - 10px");
              max-width: 350px;
              min-width: 300px;
              margin: 30px;
              .proj-preview-container {
                margin: 15% auto 0;
                width: 100%;
                position: relative;
                .proj-preview-frame {
                  position: absolute;
                  border: 1px solid #858585;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  animation-delay: .5s;
                  transition: all .75s ease-in-out;

                }
                .proj-preview-img {
                  position: absolute;
                  padding: 0;
                  border: 1px solid #ffa8a9;
                  top: -5px;
                  right: -5px;
                  width: 50%;
                  max-width: 200px;
                  height: auto;
                  animation-name: fadeOutUpCustom;
                  animation-duration: .75s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;

                  pointer-events: none;
                  user-select: none;
                  img {
                    width: 100%;
                  }
                }
                .proj-preview-title {
                  transition: all .75s ease-in-out;
                  margin: 30px auto 20px;
                  padding: 0 30px;
                  h2 {
                    transition: all 1s ease-in-out;
                    margin-top: 0;
                    font-size: @40;
                    font-family: "Bebas Neue";
                    color: #858585;
                  }
                }
                .proj-preview-text {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 30px;
                  p {
                    transition: all .75s ease-in-out;
                    font-size: @16;
                    font-family: "Helvetica";
                    color: #12171E;
                    line-height: 2;
                    margin: 0;

                  }
                }
              }
              .proj-preview-container.active {
                .proj-preview-title {
                  margin-top: 160px;
                  h2 {
                    font-size: @32;
                    color: #ffa8a9;
                  }
                }
                .proj-preview-img {
                  animation-name: fadeInDownCustom;
                  animation-duration: .75s;
                  animation-fill-mode: both;
                  animation-timing-function: ease-in-out;
                }
                .proj-preview-frame {
                  border-color: #ffa8a9;
                  bottom: -85px;
                }
                .proj-preview-text {
                  p {
                    //font-size: @17;
                    //letter-spacing: .3px;
                    padding-bottom: 1px;
                  }

                }
              }
            }
          }
        }
      }
    }
    .container-fluid.four-state {
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        .container-content {
          height: 100%;
          justify-content: flex-start;
          .proj-head {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            h1 {
              font-size: @48;
              margin-bottom: @6;
              font-family: "Bebas Neue";
              color: black;
            }
          }
          .proj-preview {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .proj-preview-content {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
              position: relative;
              justify-content: flex-start;
              .proj-preview-frame {
                position: relative;
                border: 1px solid #858585;
                padding: 10px;
                top: 0;
                left: 5%;
                width: 90%;
                height: 75%;
                -webkit-animation-delay: .5s;
                animation-delay: .5s;
                transition: all 0.75s ease-in-out;
                span {
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  font-size: 20px;
                  font-family: "Bebas Neue";
                  color: black;
                  line-height: 1.2;
                  transition: all .75s ease-in-out;
                }
              }
              .proj-preview-chart {
                height: 100% !important;
                margin: 0 auto;
              }
              .proj-preview-container {
                position: relative;
                height: 100%;
                width: 90%;
                left: 5%;
                margin-bottom: 50px;
                transition: all 0.75s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .proj-preview-container-background {
                  background-color: rgba(255, 255, 255, 0.7);
                  position: absolute;
                  filter: blur(50px);
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  z-index: 1;
                }
                .proj-preview-title {
                  transition: all .75s ease-in-out;
                  padding: 10px 30px;
                  text-align: center;
                  z-index: 2;
                  h2 {
                    transition: all 1s ease-in-out;
                    margin: 0;
                    font-size: @40;
                    font-family: "Bebas Neue";
                    color: #858585;
                  }
                }
                .proj-preview-text {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 30px;
                  text-align: right;
                  z-index: 3;
                  p {
                    height: 50%;
                    transition: all .75s ease-in-out;
                    font-size: @16;
                    font-family: "Helvetica";
                    color: #12171E;
                    line-height: 2;
                    margin: 0;

                  }
                }
              }
            }
            .proj-preview-content.active {
              .proj-preview-frame {
                border-color: #ffa8a9;
                span {
                  color: #ffa8a9;
                }
              }
              .proj-preview-container {
                background-color: rgba(255, 255, 255, 0);
                .proj-preview-title {
                  h2 {
                    font-size: @43;
                    color: #ffa8a9;
                  }
                }

              }
            }

            //.proj-preview-content.first {
            //  .proj-preview-frame {
            //    //left: 5%
            //  }
            //  .proj-preview-container {
            //    //right: 0%;
            //    //width: 60%;
            //  }
            //
            //}
            //.proj-preview-content.second {
            //  .proj-preview-frame {
            //    left: 10%
            //  }
            //  .proj-preview-container {
            //    right: 20%;
            //    width: 60%;
            //  }
            //}
          }
        }
      }
    }
  }

  .footer-frame {
    background-color: black;
    color: #fff;
    height: 100vh;
    .container {
      .row {
        padding: 60px 15px 0;
        .footer-logo {
          font-size: @18;
          color: white;
          &:hover, &:focus {
            color: white;
            text-decoration: none;
          }
          &:after {
            content: 'TM';
            font-size: 8px;
            position: absolute;
          }
        }
        .footer-title {
          font-size: @20;
          color: white;
        }
        .footer-text {
          font-size: @16;
          font-family: "Helvetica";
          color: rgba(255, 255, 255, 0.4);
          line-height: 1.2;
          margin: 7px 0;
          a {
            color: rgba(255, 255, 255, 0.4);
            transition: color .5s ease;
            &:hover, &:focus {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .footer-text-btn {
          margin-top: 30px;
          display: flex;
          justify-content: flex-start;
          a {
            font-size: @16;
            font-family: "Helvetica";
            color: rgba(255, 255, 255, 0.451);
            font-weight: bold;
            padding-right: 10px;
            line-height: 1.2;
            &:after {
              content: '';
              display: block;
              width: 30px;
              transition: all .5s ease;
              height: 3px;
              margin: 5px 0;
              background-color: rgba(255, 255, 255, 0.451);;
            }
            &:hover:after {
              background-color: #fff;
              width: 50px;
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }
        .footer-logo-title {
          font-size: @20;
          font-family: "Helvetica";
          color: @white;
          line-height: 1.2;
          margin-bottom: 20px;

        }
        .footer-subscribe {
          font-size: @16;
          font-family: "Helvetica";
          color: #6c6c6c;
          font-weight: bold;
          line-height: 1.2;
          margin-top: 30px;
          margin-bottom: 5px;
        }
        .footer-subscribe-ico {
          display: flex;

          a {
            margin-right: 5px;
            width: 30px;
            height: 30px;
          }
          svg {
            &:only-child {
              fill: #6c6c6c;
              transition: fill .5s ease;
              &:hover {
                fill: #fff
              }
            }
          }
        }
      }
    }
  }
}

#desktop-order {
  .fixed-content-header {
    position: relative;
    color: black;
    padding: 20px;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    .container-fluid {
      display: flex
    }
    .logo {
      font-size: @24;
      color: black;
      &:hover, &:focus {
        color: black;
        text-decoration: none;
      }
      &:after {
        content: 'TM';
        font-size: 8px;
        position: absolute;
      }
    }
    .tel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin: 0;
      }
    }
  }
  .fixed-content {
    position: relative;
    margin-bottom: 30px;
    .container-fluid {
      .container-row.row {
        margin: 0;
        width: 100%;
        .sections-main {
          display: flex;
          min-height: calc(~"100vh - 215px");
          .sections {
            padding: 0;
            display: block;
            position: relative;
          }
          .sections.form-block {
            //display: flex;
            //justify-content: flex-end;
            .form-order {
              display: flex;
              flex-direction: column;
              //max-width: 500px;
              h3, p {
                //text-align: justify;
                margin: 5px 0;
              }
              .form-group {
                padding-left: 0;
                padding-right: 0;
                input:not(.file) {
                  border-color: #F2F2F2;
                  height: 54px;
                  &::-webkit-input-placeholder {
                    color: #3b4950;
                    font-size: 11px;
                    text-transform: uppercase;
                  }
                  &::-moz-placeholder {
                    color: #3b4950;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                  &:-moz-placeholder {
                    color: #000;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                  &:-ms-input-placeholder {
                    color: #3b4950;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                }
                input[type='file'] {
                  border: 0;
                  outline: 0;
                  box-shadow: none;
                  width: auto;
                  padding: 0;
                  height: auto;

                }
                textarea {
                  border-color: #F2F2F2;
                  resize: none;
                  &::-webkit-input-placeholder {
                    color: #3b4950;
                    font-size: 11px;
                    text-transform: uppercase;
                  }
                  &::-moz-placeholder {
                    color: #3b4950;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                  &:-moz-placeholder {
                    color: #3b4950;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                  &:-ms-input-placeholder {
                    color: #3b4950;
                    font-size: 10px;
                    text-transform: uppercase;
                  }
                }
                button.btn-default {
                  float: right;
                  border: 0;
                  text-transform: uppercase;
                  background-color: #ffa8a9;
                  color: white;
                  font-size: @14;
                  padding: 10px 15px;
                }
                button#loading{
                  display: none;
                }
                p {
                  margin: 0;
                  color: grey;
                  font-size: 12px;
                }
              }
              .form-group.required {
                textarea, input {
                  &::-webkit-input-placeholder:after {
                    content: '*';
                    color: darkred;
                  }
                  &::-moz-placeholder::after {
                    content: "*";
                    color: red;
                    font-size: 1.5rem;
                  }
                  &:-moz-placeholder::after {
                    content: "*";
                    color: red;
                  }
                  &:-ms-input-placeholder::after {
                    content: "*";
                    color: red;
                    font-size: 1.5rem;
                  }
                }
              }
              .form-group.required:after {
                position: absolute;
                content: '*';
                color: red;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
              }

              .file_upload {
                position: relative;
                input[type='file'] {
                  position: absolute;
                  top: 0;
                  visibility: hidden
                }
                button.btn-file {
                  cursor: pointer;
                  position: absolute;
                  top: -35px;
                  right: 15px;
                  height: 100%;
                  border: 0;
                  outline: 0;
                  background-color: transparent;
                }
                div {
                  padding-left: 1em
                }
              }
            }
          }
          .sections.or-block {
            div {
              background-color: #EBEBEB;
              width: 1px;
              height: 40%;
              margin-left: 50%;
              transform: translateX(-50%);
            }
            p {
              font-size: @50;
            }
          }
          .sections.just-phone {
            display: flex;
            justify-content: flex-start;
            .sections-child {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .custom-btn-wave {
                font-size: @24;
                color: @white;
                background-color: @white;
                text-transform: uppercase;
                padding: 10px 45px;
              }
              h3 {
                //margin-top: 100px;
                font-size: @27;
                color: #2C2C2C;
                letter-spacing: 0.6px;
                line-height: 2;
              }
            }
          }
        }
        .sections.page-footer-order {
          margin-top: 25px;
          margin-left: -30px;
          .container-fluid {
            padding: 0;
          }
          .footer-copyright {
            height: 100px;
            padding: 15px 45px;
            width: calc(~"100% + 60px");
            background-color: black;

            .logo {
              font-size: @24;
              color: white;
              &:hover, &:focus {
                color: white;
                text-decoration: none;
              }
              &:after {
                content: 'TM';
                font-size: 8px;
                position: absolute;
              }
            }

            .copyright {
              color: #A7A7A7;
              font-size: @12;
              text-align: left;
              strong {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
  }
  .footer-frame {
    background-color: black;
    color: #fff;
    height: 100vh;
    .container {
      .row {
        padding: 60px 15px 0;
        .footer-logo {
          font-size: @18;
          color: white;
          &:hover, &:focus {
            color: white;
            text-decoration: none;
          }
          &:after {
            content: 'TM';
            font-size: 8px;
            position: absolute;
          }
        }
        .footer-title {
          font-size: @20;
          color: white;
        }
        .footer-text {
          font-size: @16;
          font-family: "Helvetica";
          color: rgba(255, 255, 255, 0.4);
          line-height: 1.2;
          margin: 7px 0;
          a {
            color: rgba(255, 255, 255, 0.4);
            transition: color .5s ease;
            &:hover, &:focus {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .footer-text-btn {
          margin-top: 30px;
          display: flex;
          justify-content: flex-start;
          a {
            font-size: @16;
            font-family: "Helvetica";
            color: rgba(255, 255, 255, 0.451);
            font-weight: bold;
            padding-right: 10px;
            line-height: 1.2;
            &:after {
              content: '';
              display: block;
              width: 30px;
              transition: all .5s ease;
              height: 3px;
              margin: 5px 0;
              background-color: rgba(255, 255, 255, 0.451);;
            }
            &:hover:after {
              background-color: #fff;
              width: 50px;
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }
        .footer-logo-title {
          font-size: @20;
          font-family: "Helvetica";
          color: @white;
          line-height: 1.2;
          margin-bottom: 20px;

        }
        .footer-subscribe {
          font-size: @16;
          font-family: "Helvetica";
          color: #6c6c6c;
          font-weight: bold;
          line-height: 1.2;
          margin-top: 10px;
          margin-bottom: 5px;
        }
        .footer-subscribe-ico {
          display: flex;

          a {
            margin-right: 5px;
            width: 30px;
            height: 30px;
          }
          svg {
            &:only-child {
              fill: #6c6c6c;
              transition: fill .5s ease;
              &:hover {
                fill: #fff
              }
            }
          }
        }
      }
    }
  }
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
  }
}







