<div>
    <div class="files-upload"
         ng-style="{'background-image': 'url('+fuPreview+')','width' : fuWidth, 'height':fuHeight}">
        <canvas id="canvas" width={{fuWidth}} height={{fuHeight}}></canvas>
        <input style="z-index: 999;opacity: 0;position: absolute;right: 0;left: 0;top: 0;bottom:0;width: 100%"
               name="files"
               accept={{fuAccept}}
               type="file"
               ng-required="{{fuPreview?'':'required'}}">
        <div class="input-dragDrop">
            <div>
                <div class="input-icon">
                    <i class="fa fa-file-image-o"></i>
                </div>
                <div class="input-text">
                    <h3 style="margin-top: 15px">{{filterFunc(fuMultiple) ?'Претащите файлы':'Претащите файл'}}</h3>
                    <span style="display:inline-block; margin: 15px 0">или</span>
                </div>
                <button type="button" class="btn btn-info btn-with-icon">
                    <i class="ion-android-download"></i>{{filterFunc(fuMultiple) ?'Выберите файлы':'Выберите файл'}}
                </button>
            </div>
        </div>
    </div>
    <div id="image-preview" ng-if="filterFunc(fuMultiple)">
        <div ng-repeat="item in fuPreview">
            <img height={{fuHeight/2}} src={{item}}/>
        </div>
    </div>
</div>