<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Описание курсов" class="with-scroll">
                <div class="col-sm-12">
                    <form name="form"
                          enctype="multipart/form-data"
                          ng-submit="vm.editAction()">


                        <div class="col-sm-6">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                         (form.$submitted || form._about.$touched)&&
                                         form._about.$error.minlength}">
                                <label for="_about">О нас</label>
                                <textarea class="form-control" id="_about"
                                          ng-model="vm._about"
                                          ng-minlength="4"
                                          maxlength="150"
                                          name="_about" placeholder="Текст"
                                          required="required"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form._about.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                         (form.$submitted || form._attraction_text.$touched)&&
                                         form._attraction_text.$error.minlength}">
                                <label for="_attraction_text">Достопремечательности</label>
                                <textarea class="form-control" id="_attraction_text"
                                          ng-model="vm._attraction_text"
                                          ng-minlength="4"
                                          maxlength="150"
                                          name="_attraction_text" placeholder="Текст"
                                          required="required"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form._attraction_text.$error.minlength">
                                            Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>

                        <div class="col-sm-12"
                             style="display:flex;align-items: flex-end;flex-wrap:wrap;margin-bottom: 15px">
                            <div class="col-sm-12 px-0">
                                <file-uploader
                                        fu-model=vm._ara_photos
                                        fu-preview="vm._imagesPreview"
                                        fu-accept="image/*"
                                        fu-height="190"
                                        fu-multiple="true">
                                </file-uploader>
                            </div>
                        </div>

                        <div class="col-sm-6"
                             style="display:flex;align-items: flex-end;flex-wrap:wrap;margin-bottom: 15px">
                            <div class="pl-0" style="display: flex;justify-content: center;">
                                <file-uploader
                                        fu-model=vm._genichesk_image
                                        fu-preview="vm._image1Preview"
                                        fu-accept="image/*"
                                        fu-width="200"
                                        fu-height="200"
                                        fu-multiple="false">
                                </file-uploader>
                            </div>
                            <div class="col-sm-12 pr-0" style="flex: 1;min-width: 190px">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                         (form.$submitted || form._genichesk_text.$touched)&&
                                         form._genichesk_text.$error.minlength}">
                                    <label for="_genichesk_text">О Генически</label>
                                    <textarea class="form-control" id="_genichesk_text"
                                              ng-model="vm._genichesk_text"
                                              ng-minlength="4"
                                              maxlength="150"
                                              name="_genichesk_text" placeholder="Текст"
                                              required="required"></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form._genichesk_text.$error.minlength">
                                            Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="display:flex;align-items: flex-end;flex-wrap:wrap;margin-bottom: 15px">
                            <div class="pl-0" style="display: flex;justify-content: center;">
                                <file-uploader
                                        fu-model=vm._relax_image
                                        fu-preview="vm._image2Preview"
                                        fu-accept="image/*"
                                        fu-width="200"
                                        fu-height="200"
                                        fu-multiple="false">
                                </file-uploader>
                            </div>
                            <div class="col-sm-12 pr-0" style="flex: 1;min-width: 190px">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                         (form.$submitted || form._relax_text.$touched)&&
                                         form._relax_text.$error.minlength}">
                                    <label for="_relax_text">Отдых и развличения</label>
                                    <textarea class="form-control" id="_relax_text"
                                              ng-model="vm._relax_text"
                                              ng-minlength="4"
                                              maxlength="150"
                                              name="_relax_text" placeholder="Текст"
                                              required="required"></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form._relax_text.$error.minlength">
                                            Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="padding-top: 18px;">
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>