<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Отзывы" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table col-sm-6 pull-left">
                        <button class="btn btn-success" ng-click="vm.actionPage()">Добавить</button>
                    </div>
                    <table class="table text-center" st-table="vm.responseData" st-safe-src="vm._responseData">
                        <thead>
                        <tr class="sortable">
                            <th class="table-id" st-sort="id">#</th>
                            <th class="table-id">Позиция</th>
                            <th style="width: 200px;">Автор</th>
                            <th>Видео</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.responseData">
                            <td class="table-id">{{item.id}}</td>
                            <td st-ratio="10" class="table-id">
                                {{ item.position }}
                            </td>
                            <td class="text-left">{{item.fullname}}</td>
                            <td class="text-left"><a ng-href="{{item.video}}" target="_blank">{{item.video}}</a></td>
                            <td class="text-right">
                                <button class="btn btn-primary btn-sm"
                                        ng-click="vm.editAction(item)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        ng-click="vm.openDeleteModal('app/theme/components/modals/deleteModal.html', 'sm', item.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="15"
                                     st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
