<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Главная" class="with-scroll">
                <div class="col-sm-12">
                    <form name="form"
                          enctype="multipart/form-data"
                          ng-submit="vm.editAction()">
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error':
                                         form._title.$error.required&&
                                         (form.$submitted || form._title.$touched)||
                                         form._title.$error.minlength}">
                                <label for="_title">Заглавие</label>
                                <input type="text" class="form-control" id="_title"
                                       ng-model="vm._title"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_title" placeholder="Заглавие" required="required">
                                <span class="help-block sub-little-text"
                                      ng-show="form._title.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error':
                                         form._subtitle.$error.required&&
                                         (form.$submitted || form._subtitle.$touched)||
                                         form._subtitle.$error.minlength}">
                                <label for="_subtitle">Подзаголовок</label>
                                <input type="text" class="form-control" id="_subtitle"
                                       ng-model="vm._subtitle"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_subtitle" placeholder="Подзаголовок" required="required">
                                <span class="help-block sub-little-text"
                                      ng-show="form._subtitle.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error':
                                 (form._video.$error.url||form._video.$invalid)&&
                                 (form.$submitted || form._video.$touched)
                                 }">
                                <label for="_video">Видео на фон (youtube)</label>
                                <input type="url" class="form-control" id="_video"
                                       ng-model="vm._video"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                                       name="_video" placeholder="http://example.com">
                                <span class="help-block sub-little-text"
                                      ng-show="form._video.$error.url||form._video.$invalid">
                                    Некоректная ссылка! Ссылка должна быть вида http://example.com</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group"
                                 ng-class="{'has-error':
                                         form._description.$error.required&&
                                         (form.$submitted || form._description.$touched)||
                                         form._description.$error.minlength}">
                                <label for="_description">Описание</label>
                                <textarea class="form-control" id="_description"
                                          ng-model="vm._description"
                                          ng-minlength="4"
                                          name="_description" placeholder="Описание"
                                          required="required"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form._description.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>