<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Добавить урок" class="with-scroll">
                <div class="col-sm-12">
                    <form name="form"
                          enctype="multipart/form-data"
                          ng-submit="vm.addAction()">

                        <div class="col-sm-3">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                         form._position.$error.required&&
                                         (form.$submitted || form._position.$touched)||
                                         form._position.$error.minlength}">
                                <label for="_position">Позиция</label>
                                <input type="number" class="form-control" id="_position"
                                       ng-model="vm._position"
                                       min="0"
                                       max="99999"
                                       name="_position" placeholder="Позиция">
                                <span class="help-block sub-little-text"
                                      ng-show="form._position.$error.minlength">
                                        Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form._fullname.$error.required&&
                                 (form.$submitted || form._fullname.$touched)||
                                 form._fullname.$error.minlength}">
                                <label for="_fullname">Полное имя *</label>
                                <input type="_fullname" class="form-control" id="_fullname"
                                       ng-model="vm._fullname"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_fullname" placeholder="Полное имя"
                                       required>
                                <span class="help-block sub-little-text"
                                      ng-show="form._fullname.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form._video.$error.required&&
                                 (form.$submitted || form._video.$touched)||
                                 form._video.$error.minlength}">
                                <label for="_video">Ссылка на видео *</label>
                                <input type="text" class="form-control" id="_video"
                                       ng-model="vm._video"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_video" placeholder="Ссылка на видео" required="required">
                                <span class="help-block sub-little-text"
                                      ng-show="form._video.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <ul class="pager ba-wizard-pager">
                                <li class="previous">
                                    <button ng-click="vm.goBack()"
                                            type="button" class=" btn btn-primary">
                                        <span aria-hidden="true">&larr;</span> Назад
                                    </button>
                                </li>
                                <li class="next">
                                    <button ng-disabled="form.$invalid&&!form.formImg.$valid" type="submit"
                                            class="btn btn-success">Создать
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>