<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

  <ba-sidebar></ba-sidebar>
  <page-top></page-top>

  <div class="al-main">
    <div class="al-content">
      <div ui-view autoscroll="true" autoscroll-body-top></div>
    </div>
  </div>

  <back-top></back-top>
</main>