<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Параметры доступа" class="with-scroll">
                <div class="col-sm-12">
                    <form name="form"
                          enctype="multipart/form-data"
                          ng-submit="vm.editAction()">
                        <div class="col-sm-6">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form._login.$error.required&&
                                 (form.$submitted || form._login.$touched)||
                                 form._login.$error.minlength}">
                                <label for="_login">Логин *</label>
                                <input type="text" class="form-control" id="_login"
                                       ng-model="vm._login"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_login" placeholder="Логин"
                                       required>
                                <span class="help-block sub-little-text"
                                      ng-show="form._login.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form._password.$error.required&&
                                 (form.$submitted || form._password.$touched)||
                                 form._password.$error.minlength}">
                                <label for="_password">Пароль *</label>
                                <input type="text" class="form-control" id="_password"
                                       ng-model="vm._password"
                                       ng-minlength="4"
                                       maxlength="150"
                                       name="_password" placeholder="Пароль">
                                <span class="help-block sub-little-text"
                                      ng-show="form._password.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success">Применить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>